{% extends "layout.html" %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
    {% if session.logged_in %}
        {% include 'create.html' %}
    {% endif %}
    {% raw %}
        <div id="app">
            <div v-for="(post, index) in posts" :key="post.id" class="mb-4 p-2 border-b list-decimal">
                <strong>{{ post.username }}</strong> • <span>{{ formatDate(post.pub_date) }}</span>
                <article class="prose prose-img:rounded-xl prose-headings:font-bold" v-html="parsePost(post)"></article>
            </div>
        </div>
    {% endraw %}
    </body>
    <script src="https://cdn.jsdelivr.net/npm/editorjs-html@2.0.0/build/edjsHTML.js"></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
    </html>
{% endblock %}